<%- include('layout/header') %>

<div class="text-center py-5">
  <h1 class="display-1 text-danger">Error</h1>
  <p class="lead"><%= message %></p>
  <% if (error && error.stack) { %>
    <pre class="text-start bg-light p-3 rounded"><%= error.stack %></pre>
  <% } %>
  <a href="/" class="btn btn-dark mt-3">Go Home</a>
</div>

<%- include('layout/footer') %>
